.star-rating-container {
  display: flex;
  padding-bottom: 1rem;
}

.star-container {
  position: relative;
  overflow: hidden;
  padding-right: 0.5rem;
  color: #539ADB;
}

.left-half, .right-half {
  position: relative;
  width: 50%;
  height: 100%;
}

.left-half {
  left: 0;
}

.right-half {
  left: 50%;
}

.star {
  position: relative;
  font-size: 30px;
}

.current-score {
  color: #539ADB;
  margin-top: auto;
  margin-bottom: auto;
}