body{
  font-family: "GmarketSansMedium";
  font-style: normal;
}
.comment-ll {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  justify-content: center;
}
/* Section → List → Item */
.comment_board {
  position: relative;
  background: #F3F3F3;
  border-radius: 6px;
  width: 45rem;
  height: 18.5rem;
  margin-bottom: 1rem;
}

.comment-titlebox {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comment-titlebox h1 {
  display: flex;
  justify-content: center;
  color: #539ADB;
  margin: 0;
  font-size: 3vh;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

.comment-prevbutton {
  border: none;
  background-color: #eef4ff;
  margin-top: 0rem;
}

/* div.css-jqudug */
.comment-user_info_box {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}

/* mingi */
.comment-name {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.7px;
  margin-left: 0.3rem;
  color: #1f1f1f;
  margin-bottom: 0;
  margin-top: 0;
}

/* div.css-k8a4hh */
.comment-user_img {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-left: 1rem;
  width: 18px;
  height: 18px;
}

/* div.css-31ods0 */
.comment-rating_box {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 3px solid #eaeaea;
  border-radius: 13px;
  right: 3rem;
  height: 1.8rem;
  width: 2.8rem;
}

/* 2.5 */
.comment-rating3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height, or 162% */
  letter-spacing: -0.3px;
  margin-left: 0.6rem;
  color: #4a4a4a;
}

/* div.css-kt2ht6 */
.comment-like_reply_box {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e5e5e5;
  display: flex;
}

/* Emphasis → 0 */
.comment-like_number {
  font-weight: 400;
  font-size: 13.2344px;
  line-height: 19px;
  /* identical to box height, or 144% */
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  color: #787878;
  margin-left: 1rem;
}

.comment-comment2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #000000;
  margin-left: 1rem;
}
