body {
  font-family: "Open Sans", sans-serif;
}

.my-page-container {
  display: flex;
  justify-content: space-around;
}
.left-section,
.right-section {
  flex: 1;
}
.left-section {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  align-items: center; /* 세로 정렬을 위한 가운데 정렬 */
  justify-content: center; /* 가로 정렬을 위한 가운데 정렬 */
  text-align: center; /* 텍스트 정렬을 중앙으로 설정 */
}
.profile-picture {
  display: flex;
  padding-left: 50px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  padding-left: 100px;
}
.user-stats {
  text-align: center;
  display: flex;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.stat-item {
  width: 55px;
  flex: 1;
  padding: 10px;
  margin: 0 5px;

}

.stat-item p {
  margin: 5px 0;
}

.info-button {
  width: 140%;
  max-width: 800px;
  margin: 20px auto;
  height: 53px;
  font-family: "IBM Plex Serif";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  background: #4e8195;
  border: none;
  border-radius: 8px;
  color: #E6F6FF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right-section {
  margin-left: 20px;
  height: 30rem;
  overflow-y: auto;
}
.right-section h3 {
  color: #e6f6ff;
}
.right-section ul {
  padding: 0;
  list-style-type: none;
}
.right-section li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comments {
  width: 100%;
}