/* 9 */
.body {
  position: flex;
  width: 100%;
  height: 100vh;
  background: #EEF2F5;
}

.board_details {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

/* cancel, save button */
.buttons {
  background: #0366FF;
  border-radius: 5px;
  width: 90px;
  border: none;

  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 40;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
  float: right;
}

.buttons:hover {
  background-color: #8AC0FF;
}

/* input-box */
.input-box1 {
  box-sizing: border-box;

  width: 100%;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 7px;
  height: 2rem;
  margin-bottom: 2rem;
}

.input-box2 {
  box-sizing: border-box;

  width: 100%;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 7px;
  height: 20rem;
}


/* Title, Content */
.text {

  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
  margin-bottom: 1rem;
}