/* 로그인 페이지 */
body {
    position: flex;
    width: 100%; /* 전체 화면 너비에 맞춤 */
    height: 100vh; /* 전체 화면 높이 */
    background: #EEF2F5;
    margin: 0;
}

/* Rectangle 1 */
.rectangle-1 {
    position: absolute;
    margin-top: 30px;
    width: 30%; /* 너비 */
    height: 70vh; /* 높이 */
    left: 35%; /* 가운데 정렬 */
    top: 15%; /* 가운데 정렬 */
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

/* Back to your digital life */
.login-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem; /* 폰트 사이즈 조정 */
    line-height: 1px;
    color: #292929;
    opacity: 0.7;
}
@media screen and (max-width: 1300px) and (min-width: 1201px) {
    .login-title {
        font-size: 1.5rem; /* 작은 화면에 맞게 글꼴 크기 줄임 */
    }
}
@media screen and (max-width: 1200px) and (min-width: 1030px) {
    .login-title {
        font-size: 1.3rem; /* 작은 화면에 맞게 글꼴 크기 줄임 */
    }
    .input-field {
        max-width: 85%;
    }
    .login-button {
        max-width: 85%;
    }
}
@media screen and (max-width: 1030px) and (min-width: 670px) {
    .login-title {
        font-size: 1rem; /* 작은 화면에 맞게 글꼴 크기 줄임 */
    }
    .input-field {
        max-width: 75%;
    }
    .login-button {
        max-width: 75%;
    }
}
@media screen and (max-width: 670px){
    .login-title {
        font-size: 0.9rem; /* 작은 화면에 맞게 글꼴 크기 줄임 */
    }
    .input-field {
        max-width: 65%;
    }
    .login-button {
        max-width: 75%;
    }
}

/* Choose one of the option to go */
.option-text {
    font-family: 'IBM Plex Serif';
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 40;
    font-size: 15px; /* 폰트 사이즈 조정 */
    line-height: 20px;
    color: #545454;
}

/* Rectangle 2, Rectangle 3 */
.rectangle {
    box-sizing: border-box;
    margin: auto;
    width: 70%; /* 너비 */
    height: 10vh; /* 높이 */
    
    background: #FFFFFF;
    border-radius: 10px;
}

.rectangle-2 {
    position: absolute;
    top: 5%;
    left: 7%;
    right: 7%;
}

/* get@ziontutorial.com, Password */
.input-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 1.2rem;
    color: #4F4F4F;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Don`t have an account? */
.additional-text {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 40;
    font-size: 15px; /* 폰트 사이즈 조정 */
    line-height: 20px;
    margin-bottom: 10%;
    color: #545454;
}

/* Following */
.following-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem; /* 폰트 사이즈 조정 */
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #0062FF;
}

.oauth-button {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* 폰트 사이즈 조정 */
    line-height: 43px;
    margin-bottom: 15px;
    padding-top: 15px;
    width: 30%;
    text-align: center;
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #292929;
    border-radius: 5px;
    cursor: pointer;
}

/* Log in */
.login-button {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* 폰트 사이즈 조정 */
    line-height: 53px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #0366FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 5%;
}
