.main-gallery-container {
  width: 100%;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: flex-start; /* 수직 상단 정렬 */
  box-sizing: border-box;
  color: aliceblue;
}

.main-title-page {
  height: 40vh;
  background-image: url("../images/mainbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title-page h1 {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  color: #ffffff;
  margin: 0;
  font-size: 5.5vh;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 6px #3190b3;
}
.main-title-page h2 {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: #ffffff;
  margin: 0;
  font-family: GmarketSansMedium;
  font-weight: 400;
  font-size: 2.5vh;
  font-style: normal;
  text-shadow: 2px 2px 6px #3190b3;
}
.main-h1-name {
  padding-left: 5%;
  padding-bottom: 3%;
  color: #539ADB;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.main-h2-name {
  padding-left: 5%;
  color: #539ADB;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.main-name-description{
  color: #539ADB;
  padding-left: 5%;
  padding-bottom: 3%;
}
.main-recommend-buttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
}

.main-recommend-buttonbox button {
  width: 25vh;
  height: 7vh;
  font-family: GmarketSansMedium;
  font-weight: 400;
  font-size: 2.5vh;
  font-style: normal;
  background-color: #ffffff;
  color: #539ADB;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.main-buttonbox button:hover {
  background-color: #193642;
}

.main-image-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: center;
  align-items: flex-start; /* 수직 상단 정렬 */
  margin: 20px 0;
  transition: margin-left 0.3s ease;
}

.main-image-list li {
  transition: transform 0.5s ease;
}

.hidden {
  display: none;
}

.main-image-number {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 2px 6px;
  border-radius: 4px;
}

.main-image-list-container {
  position: relative;
  width: calc(
    100% - 100px
  ); /* 이미지 리스트 옆에 버튼이 위치하므로 전체 너비에서 버튼 너비를 뺍니다. */
  overflow: hidden;
  transition: transform 0.3s ease;
}

.main-image-list li {
  scroll-snap-align: start;
  flex: 0 0 auto;
  margin-right: 10px; /* 이미지 간격 조정을 위해 마진 추가 */
}

.main-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-image-wrapper img {
  width: 300px; /* 이미지 너비 조정을 원하는 크기로 지정하세요 */
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.main-image-wrapper1 {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-image-wrapper1 img {
  width: 200px; /* 이미지 너비 조정을 원하는 크기로 지정하세요 */
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.main-image-wrapper img:hover {
  opacity: 0.95;
}


.main-scroll-button {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.main-scroll-button.prev {
  left: 5px;
}

.main-scroll-button.next {
  right: 5px;
}

.main-data-info {
  font-size: 15px;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
}
.main-data-count {
  font-size: 12px;
  color: #888;
  font-style: italic;
  margin-top: 5px;
}
