/* div.css-1sik4bq-StyledWallpaper */
.movie-detail-wrap p, label{
  font-family: "GmarketSansMedium";
}
.movie-detail-movie_img {
  position: relative;
  height: 60vh;
  background :linear-gradient(to top, black, white);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie-detail-movie_img2 {
  object-fit: cover;
  max-height: 100%;
}

.movie-detail-movie_img p {
  font-style: normal;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}
.movie-detail-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #539ADB; /* 텍스트 색상 설정 */
  padding: 20px;

}

/* Heading 1 → Harry Potter and the Sorcerer s Stone */
.movie-detail-title {
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
}

/* 2001 · Adventure/Family/Fantasy · UK, United States */
.movie-detail-release_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* 2h 32m */
.movie-detail-time {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

.movie-detail-time a {
  color: #FFFFFF;
}


/* div.e1dnb43p0 */
.movie-detail-poster {
  margin-left: 30px;
  box-sizing: border-box;
  width: 72.5%;
  height: auto;
  background: #F8F8F8;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
}

/* Section → Avg */
.movie-detail-avg {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #333333;
}

/* Section */
.movie-detail-details {
  box-sizing: border-box;
  border-bottom: 1px solid #D9D9D9;
}

.movie-detail-all {
  display: flex;
  margin-top: 3rem;
  width: 100%;
}

.movie-detail-section1 {
  width: 25%;
}

.movie-detail-section2 {
  display: flex;
  margin-bottom: 3rem;
}

.movie-detail-section3 {
  width: 100%;
}

/* Rate */
.movie-detail-r {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #539ADB;
}

.movie-detail-avg_rating {
  margin-top: 2%;
  margin-left: 45%;
}

/* 4.2 */
.movie-detail-rating_num {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  margin-top: 0;
  color: #539ADB;
  margin-bottom: 0;
}

.movie-detail-rating-box{
  margin-top: 3%;
}

/* Average Rating(7k) */
.movie-detail-rating_count {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #539ADB;
}

.movie-detail-separator {
  box-sizing: border-box;
  width: 90%;

}

.movie-detail-separator2 {
  border-right: 1px solid #e1e1e1;
}

.movie-detail-button2_box {
  display: flex;
  width: 80%;
}

.movie-detail-buttons {
  justify-content: center;
}

/* Button */
.movie-detail-buttons_icon {
  width: 50%;
  font-family: "GmarketSansMedium";
  font-size: 14px;
  line-height: 40px;
  border: none;
  background-color: #539ADB;
  color: #E6F6FF ;

}
.movie-detail-watchlist_select {
  background-color: #304e5b;
}

.movie-detail-buttons_icon:hover {
  background-color: #5b8cd5;
  font-weight: bold;
}

/* Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard -- with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths -- and about the villain who's to blame. */
.movie-detail-movie_details {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #E6F6FF;
  margin-top: 3rem;
}

/* Heading 2 → Comment */
.movie-detail-comment {
  font-family: GmarketSansMedium;
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 28px;
  padding: 10px 120px;
  display: flex;
  align-items: center;
  letter-spacing: -0.7px;
  color: #539ADB;
  margin-top: 3rem;
}

.movie-detail-list {
  width: 100%;
}


.movie-detail-OTTLogo{
  border-radius: 50%;
  margin-right: 10px;
  height: 6vw;
}

/* after*/
.movie-detail-metadata {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  color: #539ADB;
  font-family: GmarketSansMedium;
  flex-direction: column;
  padding: 3% 20% 0% 20%;
  
}

.movie-detail-metadata-list {
  margin-bottom: 5%;
  border-top: 1.75px solid #7bcdee;
}

.movie-detail-metadata-list li{
  list-style-type: none;
  padding: 10px;
}

.metadata-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10% 30%;
  padding: 10px;
}
.metadata-content-1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15% 15%;
  padding: 10px;
}

.metadata-item {
  margin-bottom: 5px;
}