/* div.css-1sik4bq-StyledWallpaper */
.movie_img {
  position: relative;
  height: 40vh;
  background: url(../../public/logo192.png);
  background-color: black;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.movie_img p {
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
}

/* Heading 1 → Harry Potter and the Sorcerer s Stone */
.title {
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
}

/* 2001 · Adventure/Family/Fantasy · UK, United States */
.release_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/* 2h 32m */
.time {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}


/* div.e1dnb43p0 */
.poster {
  box-sizing: border-box;
  width: 30%;
  background: #F8F8F8;
  border: 1px solid #D4D4D4;
  border-radius: 2px;

  /* background: url(); */
}

/* Section → Avg */
.avg {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #333333;
}

/* Section */
.details {
  box-sizing: border-box;
  border-bottom: 1px solid #D9D9D9;
}

.all {
  display: flex;
  margin-top: 3rem;
  width: 100%;
}

.section1 {
  width: 30%;
}

.section2 {
  display: flex;
  margin-bottom: 3rem;
}

.section3 {
  width: 100%;
}

/* Rate */
.r {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8C8C8C;
}

.avg_rating {
  margin-left: 50%;
}

/* 4.2 */
.rating_num {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  margin-top: 0;
  color: #888888;
  margin-bottom: 0;
}


/* Average Rating(7k) */
.rating_count {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #8C8C8C;
}

.separator {
  box-sizing: border-box;
  border-top: 1px solid #e1e1e1;
  width: 90%;

}

.separator2 {
  border-right: 1px solid #e1e1e1;
}

.button2_box {
  display: flex;
  width: 90%;
}

.buttons {
  justify-content: center;
}

/* Button */
.buttons_icon {
  width: 50%;
  font-size: 14px;
  line-height: 25px;
  border: none;
  background-color: #EEF2F5;

}

.buttons_icon:hover {
  background-color: #e5e5e5;
  font-weight: bold;
}

/* Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard -- with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths -- and about the villain who's to blame. */
.movie_details {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #8C8C8C;
  margin-top: 3rem;
}

/* Heading 2 → Comment */
.comment {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.7px;

  color: #000000;
  margin-top: 3rem;
}

.list {
  width: 95%;
}