/* 9 */
.body {
  position: flex;
  width: 100%;
  height: 100vh;
  background: #EEF2F5;
}

.newboard-newboard-form {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

/* cancel, save button */
.newboard-button {
  background: #6badeb;
  border-radius: 5px;
  width: 90px;
  border: none;
  font-style: normal;
  font-weight: 40;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
  margin-right: 20px;
  float: right;
  padding: 5px 8px;
}

.newboard-button:hover {
  background-color: #8AC0FF;
}

/* input-box */
.newboard-input-box1 {
  box-sizing: border-box;
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 7px;
  height: 2rem;
  margin-bottom: 2rem;
}

.newboard-input-box2 {
  box-sizing: border-box;

  width: 100%;
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 7px;
  height: 20rem;
}
.newboard-input-box2-wrap{
  padding: 0 20px;
}


/* Title, Content */
.newboard-texta {
  font-style: normal;
  font-size: 23px;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #545454;
  margin-bottom: 1rem;
}
.newboard-texta2{
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  color: #545454;
}

.newboard-rating {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #545454;
  margin-bottom: 1rem;
}


.newboard-rating-p{
  padding-right: 30px;
  margin: 0;
  margin-bottom: 10px;
}