.movie-list-image-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.movie-list-image-gallery a {
  display: inline-block; /* a 태그를 인라인 블록 요소로 설정하여 부모 요소의 너비에 맞게 설정합니다. */
  width: fit-content; /* 이미지의 크기에 맞게 a 태그의 크기를 설정합니다. */
  width: 50%;
  padding: 10px;
}

.movie-list-image-gallery img{
  width: 100%;

}

.movie-list-title{
  color: #f3fbff;
}