/* 회원가입 페이지 */
body {
  position: flex;
  width: 100%;
  min-height: 100vh; /*크기 설정 */
  background: #EEF2F5;
}

/* Rectangle 1 */
.signup-form {
  position: relative;
  width: 30%; /* 상대적인 크기로 변경 */
  max-width: 800px; /* 최대 너비 지정 */
  height: 70vh;
  margin: 100px auto; /* 수평 가운데 정렬 */
  padding: 20px; /* 내부 여백 추가 */
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Create an account */
.signup-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem; /* 상대적인 크기로 변경 */
  line-height: 1.2;
  color: #292929;
  opacity: 0.7;
}

/* Choose one of the option to go */
.option {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 40;
  font-size: 15px; /* 상대적인 크기로 변경 */
  line-height: 1.2;
  color: #545454;
}

/* Rectangle 2, Rectangle 3 */
.input-box {
  width: 90%; /* 상대적인 크기로 변경 */
  max-width: 800px; /* 최대 너비 지정 */
  margin: 5px auto; /* 수평 가운데 정렬 및 간격 추가 */
  padding: 10px; /* 내부 여백 추가 */
  background: #FFFFFF;
  border: 1px solid #8AC0FF;
  border-radius: 10px;
  font-size: 15px;
  font-style: normal;
  font-weight: 40;
}

.input-box2 {
  border: 1px solid #E6E6E6;
}

/* Line 1 */
.line {
  width: 90%; /* 상대적인 크기로 변경 */
  max-width: 800px; /* 최대 너비 지정 */
  margin: 20px auto; /* 수평 가운데 정렬 및 간격 추가 */
  border: 0.5px solid #E7E7E7;
}

/* Rectangle 7 */
.button1 {
  width: 100%; /* 상대적인 크기로 변경 */
  max-width: 800px; /* 최대 너비 지정 */
  margin: 20px auto; /* 수평 가운데 정렬 및 간격 추가 */
  height: 53px; /* 높이 자동 조정 */
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 40;
  background: #0366FF;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}

.button:hover {
  background-color: #8AC0FF;
}

/* Create account */
.c-text {
  font-size: 3vw; /* 상대적인 크기로 변경 */
}

/* Already have an account? */
.a-text {
  font-family: Poppins;
  color: #969AB8;
  font-style: normal;
  font-size: 1rem; /* 상대적인 크기로 변경 */
  margin-top: 20px; /* 간격 추가 */
  font-weight: 40;
}

/* Following */
.login-link {
  font-family: Poppins;
  color: #0062FF; /* 상대적인 크기로 변경 */
  font-style: normal;
  font-weight: 400;
}