.comment-list-1-wid {
  max-width: 90%;
  margin: auto;
}

.comment-list-1-lli {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

/* Section → List → Item */
.comment-list-1-comment_board1 {
  position: relative;
  background: #f3f3f3;
  border-radius: 6px;
  width: 23rem;
  height: 30vh;
}

/* div.css-jqudug */
.comment-list-1-user_info_box1 {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 5px 0;
}

/* mingi */
.comment-list-1-name1 {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.7px;
  margin-left: 11px;
  color: #1f1f1f;
  margin-bottom: 0;
  margin-top: 0;
}

/* div.css-k8a4hh */
.comment-list-1-user_img1 {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-left: 1rem;
  width: 18px;
  height: 18px;
}

.comment-list-1-comment_poster-img{
  width: 130px;
}
.comment-list-1-comment_content{
  width: 20vh;
  word-wrap: break-word;
  text-overflow:clip;
  padding-left: 10px;
}
.comment-list-1-background_img {
  width: 10vh;
  padding-right: 20px;
}

/* div.css-31ods0 */
.comment-list-1-rating_box1 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 3px solid #eaeaea;
  border-radius: 13px;
  margin: 0 10px 0 10px;
  height: 1.5rem;
  width: 2.5rem;
  
}
.commnet-list-1-content-box {
  max-width: 150px;
  word-wrap: break-word;
}
/* 2.5 */
.comment-list-1-rating31 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height, or 162% */
  letter-spacing: -0.3px;
  color: #4a4a4a;
 
}

/* div.css-kt2ht6 */
.comment-list-1-like_reply_box1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #e5e5e5;
  display: flex;
}

/* Emphasis → 0 */
.comment-list-1-like_number1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.2344px;
  line-height: 19px;
  /* identical to box height, or 144% */
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  color: #787878;
  margin-left: 1rem;
}

/* 원작에 비해 실망스러웠다 */
.comment-list-1-comment21 {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #000000;
  margin-left: 1rem;
}

.comment-list-1-more_button {
  margin-top: 1rem;
  margin-right: 2rem;
  text-align: right;
}

.comment-list-1-btn {
  font-family: "GmarketSansMedium";
  background-color: #539adb;
  color: #e6f6ff;
  border-radius: 8px;
  border: 0;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.comment-list-no_comments {
  color: #e5e5e5;
}
