/* 9 */
.body {
  position: flex;
  width: 100%;
  height: 100vh;
  background: #eef2f5;
  font-family: "GmarketSansMedium";
  font-style: normal;
}

.comment-detail-board_details {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  font-family: "GmarketSansMedium";
}

/* edit, delete button */
.comment-detail-user_buttons {
  background: #539adb;
  border-radius: 5px;
  width: 90px;
  border: none;
  font-weight: 40;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  float: right;
  text-decoration: none;
}

.comment-detail-user_buttons:hover {
  background-color: #315f8a;
}

/* text-box */
.comment-detail-text-box {
  background-color: #ffffff;
  border-radius: 7px;
  padding-bottom: 2rem;
  color: #4a4a4a;
  font-size: 15px;
  margin-top: 0;
}

/* Title, Content */
.comment-detail-text {
  font-weight: bold;
  font-size: 25px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
  margin-bottom: 0.5rem;
}

.comment-detail-profile {
  display: flex;
  align-items: center;
}

/* Link → 정영훈 */
.comment-detail-profile_name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 267% */
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  margin-bottom: 0;
  margin-top: 0;

  color: #4a4a4a;
}

/* Link 사이트 링크 사진*/
/* .link_img1 {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 39.56px;
  top: calc(50% - 12px/2 - 40px);
} */

/* div.css-1jf0gpy-ProfilePhotoImage-ProfilePhotoImage 프로필 사진*/
.comment-detail-profile_img {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 18px;
  height: 18px;
  left: calc(50% - 18px / 2);
  top: calc(50% - 18px / 2);
  margin-right: 0.3rem;
  /*background: url(.jpg);*/
}

/* Link → Movies · 2004 */
.comment-detail-movie_release {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 158% */
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;

  color: #787878;
}

/* div.css-a5x33s-StyledUserActionStatus-makeTypeFunction 평점 박스 */
.comment-detail-movie_grade_box {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  color: #4a4a4a;
  display: inline-block;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Section → Link 영화 이미지 링크*/
.comment-detail-movie_image {
  box-sizing: border-box;
  background: #f8f8f8;
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 3px;
}

.comment-detail-totals_box {
  display: flex;
}

/* Section → 101 likes */
.comment-detail-totals {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  margin-right: 1rem;

  color: #787878;
}

.comment-detail-button2_box1 {
  display: flex;
}

/* Section → Section → Button → Like */
/*like, share, comment button*/
.comment-detail-button2 {
  width: 50%;
  font-family: "GmarketSansMedium";
  font-size: 14px;
  line-height: 40px;
  border: none;
  background-color: #539adb;
  color: #e6f6ff;
  margin: 0 20px;
  border-radius: 10px;
  font-family: "GmarketSansMedium";
  font-style: normal;
}

.comment-detail-button2:hover {
  background-color: #3a75ad;
  font-weight: bold;
}

/* Section → Section → Separator */
.comment-detail-separator11 {
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.comment-detail-separator22 {
  border-right: 1px solid #e1e1e1;
}

/* Section → List → replyEmptyMessage */
.comment-detail-empty_msg_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 157% */
  text-align: center;

  color: #a0a0a0;
}
