.reply-list-color1 {
  background-color: #e6e6e6;
  margin-top: 2rem;
  border-radius: 7px;
  padding: 10px 0;
  font-size: 1.6vh;
}

.reply-list-separator {
  box-sizing: border-box;
  border-bottom: 1px solid #a9a9a9;
  padding: 15px
}

.reply-list {
  width: 95%;
}

.reply-list-profile_img {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 18px;
  height: 18px;
  left: calc(50% - 18px/2);
  top: calc(50% - 18px/2);
  margin-right: 0.3rem;
  margin-right: 4px;
}

.reply-list-user_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}

.reply-list-profile-info {
  display: flex;
  align-items: center;
}

.reply-list-no-reply {
  margin-left: 1rem;
}

.buttons-container {
  display: flex;
  align-items: center;
}

.reply-list-button {
  font-size: 1.6vh;
  border: none;
  background-color: transparent;
}

.reply-list-separator2 {
  width: 1px;
  height: 100%;
  background-color: black;
  margin: 2px;
  padding-bottom: 1.6vh;
}