.color1 {
  background-color: #e6e6e6;
  margin-top: 2rem;
  border-radius: 7px;
}

.separator {
  box-sizing: border-box;
  border-bottom: 1px solid #a9a9a9;
}

.profile_img {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 18px;
  height: 18px;
  left: calc(50% - 18px/2);
  top: calc(50% - 18px/2);
  margin-right: 0.3rem;
  /*background: url(.jpg);*/
}

.user_info {
  display: flex;
  align-items: center;
}